({:recipe-id 1
  :ingredient-id 2
  :unit-id 5
  :amount 4}

 {:recipe-id 1
  :ingredient-id 3
  :unit-id 7
  :amount 4}

 {:recipe-id 1
  :ingredient-id 1
  :unit-id 5
  :amount 1}

 {:recipe-id 1
  :ingredient-id 4
  :unit-id 6
  :amount 1}

 {:recipe-id 1
  :ingredient-id 5
  :unit-id 6
  :amount 2}

 {:recipe-id 1
  :ingredient-id 6
  :unit-id 3
  :amount 1}

{:recipe-id 2
  :ingredient-id 7
  :unit-id 3
  :amount 2}

 {:recipe-id 2
  :ingredient-id 8
  :unit-id 3
  :amount 4}

 {:recipe-id 2
  :ingredient-id 9
  :unit-id 1
  :amount 1}

 {:recipe-id 2
  :ingredient-id 1
  :unit-id 9
  :amount 1}

 {:recipe-id 2
  :ingredient-id 10
  :unit-id 3
  :amount 2}

 {:recipe-id 2
  :ingredient-id 11
  :unit-id 1
  :amount 1/2})
