({:id 1 :name {:sk "Soľ" :en "Salt"}}
 {:id 2 :name {:sk "Avokádo" :en "Avocado"}}
 {:id 3 :name {:sk "Cesnak" :en "Garlic"}}
 {:id 4 :name {:sk "Cibuľa" :en "Onion" }}
 {:id 5 :name {:sk "Rajčina" :en "Tomato"}}
 {:id 6 :name {:sk "Citrónová šťava" :en "Lemon-juice"}}
 {:id 7 :name {:sk "Kakao" :en "Cocoa"}}
 {:id 8 :name {:sk "Kokosový olej" :en "Coconut oil"}}
 {:id 9 :name {:sk "Mandle" :en "Almond"}}
 {:id 10 :name {:sk "Agáve" :en "Agave"}}
 {:id 11 :name {:sk "Mätový extrakt" :en "Pepermit extract"}}
 {:id 12 :name {:sk "Brokolica" :en "Broccoli"}}
 {:id 13 :name {:sk "Špenát" :en "Spinach"}}
 {:id 14 :name {:sk "Čínska kapusta" :en "Chinese cabbage"}}
 {:id 15 :name {:sk "Slnečnicové semienka" :en "Sunflower seeds"}}
 {:id 16 :name {:sk "Olivový olej" :en "Olive oil"}}
 {:id 17 :name {:sk "Jablčný ocot" :en "Apple Cider Vinegar"}}
 {:id 18 :name {:sk "Tamari omáčka" :en "Tamari sauce"}}
 {:id 19 :name {:sk "Horčica" :en "Mustard"}}
 {:id 20 :name {:sk "Špalda" :en "Spelt"}}
 {:id 21 :name {:sk "Voda" :en "Water"}}
 {:id 22 :name {:sk "Himalájska soľ" :en "Himalayan salt"}}
 {:id 23 :name {:sk "Horčičné semiačka" :en "Mustard seeds"}}
 {:id 24 :name {:sk "Sušené rajčiny" :en "Dried tomatoes"}}
 {:id 25 :name {:sk "Vínny ocot" :en "Vinegar"}}
 {:id 26 :name {:sk "Konopné semiačka" :en "Hemp seeds"}}
 {:id 27 :name {:sk "Tekvicové semiačka" :en "Pumpkin seeds"}}
 {:id 28 :name {:sk "Čierne korenie" :en "Black pepper"}}
 {:id 29 :name {:sk "Bazalka" :en "Basil"}}
 {:id 30 :name {:sk "Mungo" :en "Mungo beens"}}
 {:id 31 :name {:sk "Píniové oriešky" :en "Pine nuts"}}
 {:id 32 :name {:sk "Huby" :en "Mushrooms"}}
 {:id 33 :name {:sk "Paprika" :en "Fresh pepper"}}
 {:id 34 :name {:sk "Vlašské orechy" :en "Walnuts"}}
 {:id 35 :name {:sk "Drvené bylinky" :en "Crushed herbs"}}
 {:id 36 :name {:sk "Kešu" :en "Cashew"}}
 {:id 37 :name {:sk "Karob" :en "Carob"}}
 {:id 38 :name {:sk "Chia semiačka" :en "Chia seeds"}}
 {:id 39 :name {:sk "Hrozienka" :en "Raisins"}}
 {:id 40 :name {:sk "Datle" :en "Dates"}}
 {:id 41 :name {:sk "Obilné zrná" :en "Cereal grains"}}
 {:id 42 :name {:sk "Jahody" :en "Strawberries"}}
 {:id 43 :name {:sk "Rebarbora" :en "Rhubarb"}}
 {:id 44 :name {:sk "Mrkva" :en "Carrot"}}
 {:id 45 :name {:sk "Ľanové semiačka" :en "Flax seeds"}}
 {:id 46 :name {:sk "Rasca" :en "Cumin"}}
 {:id 47 :name {:sk "Červená kapusta" :en "Red cabbage"}}
 {:id 48 :name {:sk "Listová zelenina" :en "Leafy vegetables"}}
 {:id 49 :name {:sk "Tahini dressing" :en "Tahini dressing"}}
 {:id 50 :name {:sk "Cícer" :en "Chickpea"}}
 {:id 51 :name {:sk "Červená paprika" :en "Red pepper"}}
 {:id 52 :name {:sk "Tahini" :en "Tahini"}})
