{1 {:id 1
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/guacamole.jpg"
    :title {:sk  "Avokádové guacamole" :en "Guacamole"}
    :images [{:link "images/recipes/guacamole/guacamole1.jpg"
              :name {:sk "Avokádo" :en "Avocado"}}
             {:link "images/recipes/guacamole/guacamole3.jpg"
              :name {:sk "Ingrediencie" :en "Ingredients"}}
             {:link "images/recipes/guacamole/guacamole2.jpg"
              :name {:sk "Ingrediencie" :en "Ingredients"}}
             {:link "images/recipes/guacamole/guacamole4.jpg"
              :name {:sk "Pučenie avokáda" :en "Mashing avocados"}}
             {:link "images/recipes/guacamole/guacamole3.jpg"
              :name {:sk "Miešanie ingrediencií" :en "Mixing ingredients"}}
             {:link "images/recipes/guacamole/guacamole.jpg"
              :name {:sk "Avokádové guacamole" :en "Guacamole"}}]
    :ingredients #{2 3 1 4 5 6 53}
    :category 2
    :text {:sk "recipes/guacamole_sk.md"
           :en "recipes/guacamole_en.md"}
    :serving 2
    :time 15
    :origin "http://katherineschwarzenegger.com/"}
 2 {:id 2
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/choco-mint.jpg"
    :title {:sk "Mätové toliariky" :en "Chocolate mints"}
    :images [{:link "images/recipes/chocolate-mints/chocolate-mints3.jpg"
              :name {:sk "Natieranie čokolády" :en " Coating with a chocolate"}}
             {:link "images/recipes/chocolate-mints/chocolate-mints2.jpg"
              :name {:sk "Mätové toliariky" :en "Chocolate mints"}}
             {:link "images/recipes/chocolate-mints/chocolate-mints1.jpg"
              :name {:sk "Mätové toliariky" :en "Chocolate mints"}}]
    :ingredients #{7 8 9 1 10 11}
    :category 4
    :text {:sk "recipes/chocolate-mints_sk.md"
           :en "recipes/chocolate-mints_en.md"}
    :serving 3
    :time 30
    :origin "http://pureella.com/"}
 3 {:id 3
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/brokolicovy-salat.jpg"
    :title {:sk "Brokolicový šalát" :en "Broccoli salad"}
    :images [{:link "images/recipes/broccoli-salad/broccoli-salad1.jpg"
              :name {:sk "Brokolicový šalát" :en "Broccoli salad"}}
             {:link "images/recipes/broccoli-salad/broccoli-salad2.jpg"
              :name {:sk "Ingrediencie" :en "Ingredients"}}
             {:link "images/recipes/broccoli-salad/broccoli-salad3.jpg"
              :name {:sk "Ingrediencie" :en "Ingredients"}}]
    :ingredients #{12 22 16 17 54 55}
    :category 2
    :text {:sk "recipes/broccoli-salad_sk.md"
           :en "recipes/broccoli-salad_en.md"}
    :serving 2
    :time 15
    :origin "http://theglobalgirl.com/"}
 4 {:id 4
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/sunflower-bread.jpg"
    :title {:sk "Cibuľovo slnečnicový chlieb" :en "Sunflower bread" }
    :images [{:link "images/recipes/sunflower-bread/sunflower-bread1.jpg"
              :name {:sk "Slnečnicový chlieb" :en "Sunflower bread"}}
             {:link "images/recipes/sunflower-bread/sunflower-bread2.jpg"
              :name {:sk "Slnečnicový chlieb" :en "Sunflower bread"}}]
    :ingredients #{15 21 44 54 57 6 58 59 28 1}
    :category 2
    :text {:sk "recipes/sunflower-bread_sk.md"
           :en "recipes/sunflower-bread_en.md"}
    :serving 8
    :time 1440
    :origin "http://countercuisine.blogspot.com/"}
 5 {:id 5
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/horcica.jpg"
    :title {:sk "Domáca Horčica s čerstvými bylinkami"
            :en "Homemade mustard with fresh herbs"}
    :images [{:link "images/recipes/mustard/mustard.jpg"
              :name {:sk "Horčica" :en "Mustard"}}]
    :ingredients #{23 17 21 60 61 62 64 63}
    :category 3
    :text {:sk "recipes/mustard_sk.md"
           :en "recipes/mustard_en.md"}
    :serving 1.5
    :time 4320
    :origin "http://www.rawfoodrecipes.com/"
    }
 6 {:id 6
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/pizza.jpg"
    :title {:sk "Špenátová pizza" :en "Spinach pizza"}
    :images [{:link "images/recipes/spinach-pizza/spinach-pizza.jpg"
              :name {:sk "Špenátová pizza" :en "Spinach pizza"}}
             {:link "images/recipes/spinach-pizza/spinach-pizza3.jpg"
              :name {:sk "Špenátová pizza" :en "Spinach pizza"}}
             {:link "images/recipes/spinach-pizza/spinach-pizza2.jpg"
              :name {:sk "Špenátová pizza" :en "Spinach pizza"}}
             {:link "images/recipes/spinach-pizza/spinach-pizza4.jpg"
              :name {:sk "Špenátová pizza" :en "Spinach pizza"}}]
    :ingredients #{29 63 21 4 3 65 32 67 5 18 35}
    :category 2
    :text {:sk "recipes/spinach-pizza_sk.md"
           :en "recipes/spinach-pizza_en.md"}
    :serving 4
    :time 300
    :origin "http://www.thisrawsomeveganlife.com/"}
 7 {:id 7
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/basic-cashew-cheese.jpg"
    :title {:sk "Kešu syr" :en "Cashew cheese"}
    :images [{:link "images/recipes/Cashew-cheese/cashew-cheese2.jpg"
              :name {:sk "Pomixovaná zmes" :en "Mixture"}}
             {:link "images/recipes/Cashew-cheese/cashew-cheese3.jpg"
              :name {:sk "Pomixovaná zmes" :en "Mixture"}}
             {:link "images/recipes/Cashew-cheese/cashew-cheese4.jpg"
              :name {:sk "Zmes visí v nádobe" :en "Hanging in a bowl"}}
             {:link "images/recipes/Cashew-cheese/cashew-cheese5.jpg"
              :name {:sk "Po odkvapkaní" :en "After pushing liquid"}}
             {:link "images/recipes/Cashew-cheese/cashew-cheese6.jpg"
              :name {:sk "Po odkvapkaní" :en "After pushing liquid"}}
             {:link "images/recipes/Cashew-cheese/cashew-cheese.jpg"
              :name {:sk "Kešu syr" :en "Cashew cheese"}}]
    :ingredients #{36 6 22 68 57 21}
    :category 2
    :text {:sk "recipes/cashew-cheese_sk.md"
           :en "recipes/cashew-cheese_en.md"}
    :serving 2
    :time 15
    :origin "http://www.vegkitchen.com/"}
 8 {:id 8
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/carob-cookies.jpg"
    :title {:sk "Karobové chia cookies" :en "Carob chia cookies"}
    :images [{:link "images/recipes/carob-cookies/carob-cookies.jpg"
              :name {:sk "Cookies" :en "Cookies"}}]
    :ingredients #{34 39 40 37 38 1}
    :category 4
    :text {:sk "recipes/carob-cookies_sk.md"
           :en "recipes/carob-cookies_en.md"}
    :serving 2
    :time 15
    :origin "https://rawcandy.wordpress.com"}
 9 {:id 9
    :date #inst "2014-10-12"
    :thumbnail-link "images/thumbnails/jahodova-limonada.jpg"
    :title {:sk "Jahodová limonáda" :en  "Strawberry lemonade"}
    :images [{:link "images/recipes/strawberry-lemonade/strawberry-lemonade.jpg"
              :name {:sk "Jahodová limonáda" :en "Strawberry lemonade"}}]
    :ingredients #{6 10 21 42}
    :category 5
    :text {:sk "recipes/strawberry-lemonade_sk.md"
           :en "recipes/strawberry-lemonade_en.md"}
    :serving 2
    :time 15
    :origin "www.green-recipes.com"}
 10 {:id 10
     :date #inst "2014-10-12"
     :thumbnail-link "images/thumbnails/wrap.jpg"
     :title {:sk "Wrap" :en "Wrap"}
     :images [{:link "images/recipes/guacamole/guacamole1.jpg"
               :name {:sk "Avokádo" :en "Avocado"}}
              {:link "images/recipes/guacamole/guacamole3.jpg"
               :name {:sk "Ingrediencie" :en "Ingredients"}}
              {:link "images/recipes/guacamole/guacamole2.jpg"
               :name {:sk "Ingrediencie" :en "Ingredients"}}
              {:link "images/recipes/guacamole/guacamole4.jpg"
               :name {:sk "Pučenie avokáda" :en "Mashing avocados"}}
              {:link "images/recipes/guacamole/guacamole3.jpg"
               :name {:sk "Miešanie ingrediencií" :en "Mixing ingredients"}}
              {:link "images/recipes/guacamole/guacamole.jpg"
               :name {:sk "Avokádové guacamole" :en "Guacamole"}}]
     :ingredients #{44 45 46 18 47 48 2 5 49}
     :category 2}
 11 {:id 11
     :date #inst "2014-11-17"
     :thumbnail-link "images/thumbnails/spinach-basil-pesto.jpg"
     :title {:sk "Špenátovo-bazalkové pesto" :en "Spinach-basil pesto"}
     :images [{:link "images/recipes/spinach-basil-pesto/spinach-basil-pesto.jpg"
               :name {:sk "Pesto" :en "Pesto"}}]
     :ingredients #{29 13 3 34 26 16 57 6 1 28}
     :category 3
     :text {:sk "recipes/spinach-basil-pesto_sk.md"
            :en "recipes/spinach-basil-pesto_en.md"}
     :serving 1
     :time 20
     :origin "http://www.nutritionstripped.com/"}
 12 {:id 12
     :date #inst "2014-10-12"
     :thumbnail-link "images/thumbnails/tahini-dresing.jpg"
     :title {:sk "Tahini dressing" :en "Tahini dressing"}
     :images [{:link "images/recipes/tahini-dressing/tahini-dressing.jpg"
               :name {:sk "Tahini dressing" :en "Tahini-dressing"}}
              {:link "images/recipes/tahini-dressing/tahini-dressing2.jpg"
               :name {:sk "Ingrediencie" :en "Ingredients"}}]
     :ingredients #{52 3 6 57 1 28 21}
     :category 3
     :text {:sk "recipes/tahini-dressing_sk.md"
            :en "recipes/tahini-dressing_en.md"}
     :serving 2
     :time 15
     :origin "http://ohsheglows.com/"}}
