{1  {:id 1
     :names [{:sk "Šálka" :en "Cup"}
             {:sk "Šálky" :en "Cups"}
             {:sk "Šálok" :en "Cups"}]}
 2 {:id 2
    :names [{:sk "Gram" :en "Gram"}
            {:sk "Gramy" :en "Grams"}
            {:sk "Gramov" :en "Grams"}]}
 3 {:id 3
    :names [{:sk "Lyžica" :en "Tablespoon"}
            {:sk "Lyžice" :en "Tablespoons"}
            {:sk "Lyžíc" :en "Tablespoons"}]}

 4 {:id 4
    :names [{:sk "Pohár" :en "Cup"}
            {:sk "Poháre" :en "Cups"}
            {:sk "Pohárov" :en "Cups"}]}
 5 {:id 5
    :names [{:sk "Čajová lyžička" :en "Teaspoon" }
            {:sk "Čajové lyžičky" :en "Teaspoons"}
            {:sk "Čajových lyžičiek" :en "Teaspoons" }]}
 6 {:id 6
    :names [{:sk "Kus" :en "Piece"}
            {:sk "Kusy" :en "Pieces"}
            {:sk "Kusov" :en "Pieces"}]}
 7 {:id 7
    :names [{:sk "Strúčik" :en "Clove" }
            {:sk "Strúčiky" :en "Cloves" }
            {:sk "Strúčikov" :en "Cloves"}]}
 8 {:id 8
    :names [{:sk "Liter" :en "Liter"}
            {:sk "Litre" :en "Liters"}
            {:sk "Litrov" :en "Liters"}]}
 9 {:id 9
    :names [{:sk "Štipka" :en "Pinch"}
            {:sk "Štipky" :en "Pinches"}
            {:sk "Štipiek" :en "Pinches"}]}
 10 {:id 10
     :names [{:sk "Mililiter" :en  "Mililiter"}
             {:sk "Mililitre" :en  "Mililiters"}
             {:sk "Mililitrov" :en  "Mililiters"}]}
 11 {:id 11
     :names [{:sk "Porcia" :en  "Serving"}
             {:sk "Porcie" :en  "Servings"}
             {:sk "Porcií" :en  "Servings"}]}}
